name: Update Gradle

on:
  workflow_dispatch:

jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout Repository
        uses: actions/checkout@v5

      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Update Gradle Wrapper
        run: ./gradlew wrapper --gradle-version latest

      - name: Verify Gradle Wrapper
        run: ./gradlew --help

      - name: Git Tracker
        id: validation
        run: |
          if git diff --quiet main "${{ github.ref_name }}"; then
            echo "is_ready=false" >> "$GITHUB_OUTPUT"
          else
            echo "is_ready=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Pull Request Aborted
        if: steps.validation.outputs.is_ready == 'false'
        run: echo 'The pull request was not created, because no changes were detected!'

      - name: Create Pull Request
        if: steps.validation.outputs.is_ready == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          committer: Ryder Belserion <no-reply@ryderbelserion.com>
          sign-commits: true
          commit-message: '[ci-skip] chore: Update Gradle'
          title: 'chore: Update Gradle'
          body: |
              Successfully updated gradle to the newest version!
               - https://docs.gradle.org/current/release-notes.html
          labels: |
            dependencies
          branch: gradle-wrapper-update
          delete-branch: true
          base: main